name: Approve merge build tag push

on: pull_request_target

permissions:
  pull-requests: write
  contents: write

jobs:
  merge-dependabot-pr:
    runs-on: ubuntu-22.04
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v2.4.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Approve the PR
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Auto-merge non-major PRs
        if: ${{ steps.dependabot-metadata.outputs.update-type != 'version-update:semver-major' }}
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
  build-push-image:
    runs-on: ubuntu-22.04
    needs: merge-dependabot-pr
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed Dockerfile
        id: changed-files-specific
        uses: tj-actions/changed-files@v46.0.5
        with:
          files: |
            Dockerfile

      - name: Log in to Docker Hub
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        uses: docker/login-action@v3
        with:
          username: "${{ secrets.DOCKERHUB_USERNAME }}"
          password: "${{ secrets.DOCKERHUB_PASSWORD }}"

      - name: Get previous tag
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      
      - name: Get next version tag
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        id: semvers
        uses: "WyriHaximus/github-action-next-semvers@v1"
        with:
          version: ${{ steps.previoustag.outputs.tag }}
      
      - name: Update tag
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/${{ steps.semvers.outputs.patch }}',
              sha: context.sha
            })

      - name: Build and push Docker image
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            mpdcampbell/traefik-geoip-filter:${{ steps.semvers.outputs.patch }}
            mpdcampbell/traefik-geoip-filter:edge
